<!DOCTYPE html>
<html>
  <head>
    <title>Rails2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header>
		  <ul>
  		  <li class="left"><%= link_to 'Money Log', '/', class: "title" %></li>
  		  <li class="right">
  		    <%= link_to 'Expenses', '/expenses' %>
  		  </li>
  		  <li class="right">
  		    <%= link_to 'New', '/expenses/new' %>
  		  </li>
		  </ul>
		  		</header>

		<% if flash[:notice] %>
			<div class="flash"><%= flash[:notice] %></div>
		<% end %>

    <%= yield %>
  </body>
</html>
